.container-div {
    background-color: rgba(0,0,0,0.5);

    .video-frame-container {
        max-width: 750px;
        margin: 0 auto;
        border-radius: 20px;
        overflow: hidden;
    }
}
