.section {
    margin-top: 35vh;
}

.logo-img {
    height: 45px;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

@media (min-width: 768px) {
    .section {
        margin-top: 67vh;
    }
}

