.logo {
    max-width: 90px;
}

.shop-item {
    animation: pulse 2.5s ease-in-out infinite;
}

.chevron-icon-span {
    cursor: pointer;
    background-color: rgba(8, 77, 141, 0.2)!important;
    border-radius: 6px;

    &.custom-opacity {
        background-color: rgb(8, 77, 141)!important;
    }

    .chevron-icon {
        transition: transform 0.5s ease-in-out;
        &.rotated-icon {
            transform: rotate(-180deg);
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@media (min-width: 992px) {
    .logo {
        max-width: 110px;
    }
}