.logo {
    max-width: 90px;
}

@media (min-width: 992px) {
    .logo {
        max-width: 110px;
    }
}

.chevron-icon-span {
    cursor: pointer;

    .chevron-icon {
        transition: transform 0.5s ease-in-out;
        &.rotated-icon {
            transform: rotate(-180deg);
        }
    }
}