.video {
    min-height: 40vh;
    width: 100%;
    position: absolute;
    top: 50px;
    z-index: 0;
    object-fit: cover;
}

@media (min-width: 768px) {
    .video {
        top: 0;
        min-height: 100vh;
    }
}