.animated-icon {
    position: relative;
    animation: moveDown 1.2s infinite ease-in-out;
}

@keyframes moveDown {
    0% {
        top:0;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 0;
    }
}

.gray-gradient-background {
    background: rgb(66,66,66);
    background: linear-gradient(90deg, rgba(66,66,66,1) 0%, rgba(158,158,158,1) 54%);
}