// :root {

// }

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: white;
}

.background-pattern-wood {
	background-image: url(/assets/img/patterns/wood-pattern.jpg);
	background-repeat: repeat;
	background-size: contain;
}

.background-pattern-wool {
	background-image: url(/assets/img/patterns/wool-pattern.jpg);
	background-repeat: repeat;
}

.background-pattern-crossword {
	background-image: url(/assets/img/patterns/crossword-pattern.jpg);
	background-repeat: repeat;
	background-size: contain;
}

.background-pattern-fabric {
	background-image: url(/assets/img/patterns/fabric-pattern.jpg);
	background-repeat: repeat;
}

@import '/styles/_custom-fonts.scss';
@import '/styles/_custom-variables.scss';
@import '~bootstrap/scss/bootstrap';