.steamer-slider {
    background: url(/assets/img/steamer-slider.png);
    background-repeat: repeat-x;
    background-size: contain;
    height: 91px;
    width: 2538px;

    animation: slide 60s linear infinite;
    z-index: 0;

    @media (min-width: 768px) {
        height: 121px;
        width: 3384px;
    }

    @media (min-width: 1200px) {
        height: 182px;
        width: 5076px;
    }
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0)
    }
    100% {
        transform: translate3d(-3394px, 0, 0)
    }
}