@import '/styles/_custom-variables.scss';
@import '~bootstrap/scss/bootstrap';

// :root {

// }

html {
	font-size: calc(0.9em + 0.1vw); 
}

::-webkit-scrollbar {
	width: 0.7em;
}

::-webkit-scrollbar-track {
	background: url(/assets/img/patterns/wood-pattern.jpg);
}
 
::-webkit-scrollbar-thumb {
	background: #084C8D ;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #063c6f;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

header {
	.navbar-toggler {
		&:focus {
			color: transparent;
		}
	}

	.navbar {
		.navbar-nav {
			.nav-item {
				.nav-link {
					text-transform: uppercase;
					&.active {
						border-bottom: 1px solid #f5f5f5;
					}
				}
			}
		}
	}
}

footer {
	nav {
		.nav-link {
			text-transform: uppercase;
		}
	}
}

main {
	margin-top: 60px;
	
	@media (min-width: 992px) {
		margin-top: 83px;
	}
}

// Backgrounds
.background-blue-radial-gradient {
	background: rgb(41,68,107);
	background: radial-gradient(circle, rgba(41,68,107,1) 0%, rgba(25,35,49,1) 100%);
}

.background-gray-radial-gradient {
	background: rgb(158,158,158);
	background: radial-gradient(circle, rgba(158,158,158,1) 0%, rgba(66,66,66,1) 100%);
}

.background-light-gradient {
	background: rgb(211,211,211);
	background: linear-gradient(90deg, rgba(211,211,211,1) 0%, rgba(255,255,255,1) 70%);
}

.background-pattern-wood {
	background-image: url(/assets/img/patterns/wood-pattern.jpg);
	background-repeat: repeat;
	background-size: contain;
}

.background-pattern-wool {
	background-image: url(/assets/img/patterns/wool-pattern.jpg);
	background-repeat: repeat;
}

.background-pattern-crossword {
	background-image: url(/assets/img/patterns/crossword-pattern.jpg);
	background-repeat: repeat;
}

.background-pattern-fabric {
	background-image: url(/assets/img/patterns/fabric-pattern.jpg);
	background-repeat: repeat;
}

.background-ny-store {
	background-image: url(/assets/img/ny-store.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center top;
	background-attachment: fixed;
}

.background-ny-skyline {
	background-image: url(/assets/img/ny-skyline.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: top top;
}

// Carousel
#carousel-besteam, 
#carousel-besteamXl  {
	.carousel-indicators {
		bottom: -38px;
		justify-content: space-around;
		margin-left: 0;
		margin-right: 0;

		button {
			height: 40px;
			border: 1px solid lightgrey;
			opacity: 1;
			border-radius: 50px;
			transition: transform 1s ease-in-out;

			&.active {
				transform: scale(1.2);
			}
			&[aria-label="yellow"] {
				background-color: yellow;
			}
			&[aria-label="black"] {
				background-color: black;
			}
			&[aria-label="red"] {
				background-color: red;
			}
			&[aria-label="white"] {
				background-color: white;
			}
		}
	}

	@media (min-width: 992px){
		.carousel-indicators {
			margin-left: 15%;
			margin-right: 15%;
		}
	}
}

#carousel-besteam {
	.carousel-indicators {
		button {
			&[aria-label="blue"] {
				background-color: #0a578e;
			}
		}
	}
}

#carousel-besteamXl {
	.carousel-indicators {
		button {
			&[aria-label="blue"] {
				background-color: #0068b2;
			}
		}
	}
}

// Toasts (Notifications)
.Toastify__toast.Toastify__toast-theme--dark {
	background: url(/assets/img/patterns/wood-pattern.jpg);
	background-repeat: repeat;
}

// Shop Tabs 
.custom-tabs {
    font-size: 14px;
	padding-bottom: 20px;
	border-bottom: 1px solid lightgray;

    .nav-item {
		margin: 3px 3px;
        .nav-link {
            text-transform: uppercase;
			color: #292b2c;
			border-radius: 38px;
			background-color: #f5f5f5;
			border: 1px solid lightgray;

			&.active {
				color: #f5f5f5;
				background-color: #084C8D;
				border: none;
			}
        }
    }
	@media (min-width: 576px) {
		font-size: 16px;
		.nav-item {
			margin: 0 10px;
		}
	}
	@media (min-width: 992px) {
		font-size: 20px;
		.nav-item {
			margin: 0 20px;
		}
	}
}


.btn-feedback {
	&:active {
		transform: scale(0.97);
		box-shadow: none!important;
	}
}